body {color:black;background-color:#EEEEEE;}
p  {font-family:Abel,sans-serif;font-size:16px;}
h2 {color:black;font-family:Abel,sans-serif;font-size:36px;padding-bottom:10px;padding-top:10px;}
h3 {color:#B01C17;font-family:Abel,sans-serif;font-size:22px;}
h4 {color:#B01C17;font-family:Abel,sans-serif;font-size:18px;}
hr {border-color:#B01C17;}
th {color:#B01C17;font-family:Abel,sans-serif;font-size:16px;font-weight:bold;text-align:right;}
td {color:black;font-family:Abel,sans-serif;font-size:16px;}
li {color:black;font-family:Abel,sans-serif;font-size:16px;}
.rnli {list-style:disc;}
a  {color:#B01C17;padding:2px;}
.link:hover {color:white;background-color:#B01C17;text-decoration:none;padding:2px;border-radius:5px;}
.colo:hover {background-color:#EEEEEE;padding:0px;border-radius:0px;}
.container-fluid {max-width:84%;}
.frame {border:4px solid #B01C17;}
.linktext {font-size:12px;}
.dloadpanel {background-color:#DDDDDD;padding:10px 10px 10px 10px;border:2px solid #222222;}
.imgw {display:none;}
.navimgb {display:none;}
.nav-item {font-family:Abel,sans-serif;}
.navbar-brand {font-family:Abel,sans-serif;}
.navbar-toggler {border:none;outline:none;}
.navbar-custom {background-color:#B01C17;}
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {color:white;}
.navbar-custom .navbar-nav .nav-link {color: rgba(255,255,255,.5);}
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {color:white;}
.navbar-toggler-icon {background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");}

@media only screen and (max-width: 1026px) {
    .container-fluid {padding:0px;max-width:90%;}
}

@media only screen and (max-width: 780px) {
    .container-fluid {padding:0px;max-width:100%;}
}

@media (prefers-color-scheme: dark) {
    body {color:white;background:#222222;}
    h2 {color:#B01C17;}
    h3 {color:white;}
    h4 {color:white;}
    hr {border-color:#FFFFFF;}
    a  {color:red;}
    td {color:white;}
    th {color:#B01C17;}
    li {color:white;}
    kbd {background-color:#B01C17;}
    .link:hover {color:#B01C17;background-color:white;}
    .colo:hover {background-color:#222222;}
    .linktext {color:white;}
    .dloadpanel {background-color:#222222;border: 2px solid #B01C17;}
    .imgw {display:inline-block;}
    .imgb {display:none;}
    .navimgb {display:inline-block;}
    .navimgw {display:none;}
}