body {color:black;background-color:#EEEEEE;}
p  {font-family:Abel,sans-serif;font-size:16px;}
h2 {color:black;font-family:Abel,sans-serif;font-size:36px;padding-bottom:10px;padding-top:10px;}
h3 {color:black;font-family:Abel,sans-serif;font-size:22px;}
h4 {color:black;font-family:Abel,sans-serif;font-size:18px;}
hr {border-color:#FFD709;}
li {color:black;font-family:Abel,sans-serif;font-size:16px;}
a  {color:#6d0439;padding:2px;}
.rnli {list-style:disc;}
.link:hover {color:black;background-color:#FFD709;text-decoration:none;padding:2px;border-radius:5px;}
.colo:hover {background-color:#EEEEEE;padding:0px;border-radius:0px;}
.linktext{font-size:12px;}
.container {max-width:84%;overflow-x: hidden;}
.frame {border:4px solid #FFD709;}
.imgw {display:none;}
.navimgb {display:none;}
.nav-item {font-family:Abel,sans-serif;}
.navbar-brand {font-family:Abel,sans-serif;}
.navbar-toggler {border:none;outline:none;}
.navbar-custom {background-color:#FFD709;}
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {color:#000000;}
.navbar-custom .navbar-nav .nav-link {color: #000000;}
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {color:rgba(0,0,0,.5);}
.navbar-toggler-icon {background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");}
.centre {display: block;margin-left: auto;margin-right: auto;}

@media only screen and (min-width: 781px) and (max-width: 1026px) {
    .container {padding:0;max-width:90%;margin:0;}
}

@media only screen and (max-width: 780px) {
    .container {padding:0;max-width:100%;margin:0;}
}

@media (prefers-color-scheme: dark) {
    body {color:white;background:#222222;}
    h2 {color:#FFD709;}
    h3 {color:white;}
    h4 {color:white;}
    hr {border-color:#FFFFFF;}
    a  {color:#FFD709;}
    li {color:white;}
    .colo:hover {background-color:#222222;}
    .linktext {color: #000000;}
    .imgw {display:inline-block;}
    .imgb {display:none;}
    .navimgb {display:inline-block;}
    .navimgw {display:none;}

}