body {color:black;background-color:#EEEEEE;}
p {font-family:Abel,sans-serif;font-size:16px;}
h2 {color:black;font-family:Abel,sans-serif;font-size:36px;padding-bottom:10px;padding-top:10px;}
h3 {color:#882650;font-family:Abel,sans-serif;font-size:22px;}
h4 {color:#882650;font-family:Abel,sans-serif;font-size:18px;}
hr {border-color:#882650;}
a  {color:#882650;padding:2px;}
th {color:#882650;font-family:Abel,sans-serif;font-size:16px;font-weight:bold;text-align:right;}
td {color:black;font-family:Abel,sans-serif;font-size:16px;}
li {color:black;font-family:Abel,sans-serif;font-size:16px;}
pre {color:#882650;background-color:#aaaaaa;padding:8px;}
.rnli {list-style:disc;}
.container {padding-bottom:10px;}
.container-fluid {max-width:84%;}
.nav-item {font-family:Abel,sans-serif;}
.navbar-brand {font-family:Abel,sans-serif;}
.navbar-brand-light-color {color:blue;}
.frame {border:4px solid #882650;}
.navcol {background-color:#882650;}
.link:hover {color:white;background-color:#882650;text-decoration:none;padding:2px;border-radius:5px;}
.colo:hover {background-color:#EEEEEE;padding:0px;border-radius:0px;}
.linktext {font-size:12px;}
.navimgb {display:none;}
.dloadpanel {background-color:#DDDDDD;padding: 10px 10px 10px 10px;border: 2px solid #222222;}
.imgw {display:none;}
.navbar-custom {background-color:#882650;}
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {color:white;}
.navbar-custom .navbar-nav .nav-link {color: rgba(255,255,255,.5);}
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {color:white;}
.navbar-toggler-icon {background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");}

@media only screen and (max-width: 1026px) {
    .container-fluid {padding:0px;max-width:90%;}
}

@media only screen and (max-width: 780px) {
    .container-fluid {padding:0px;max-width:100%;}
}

@media (prefers-color-scheme: dark) {
    body {color:white;background:#222222;}
    h2 {color:#882650;}
    h3 {color:white;}
    h4 {color:white;}
    hr {border-color:#FFFFFF;}
    a  {color:#882650;}
    td {color:white;}
    th {color:#882650;}
    li {color:white;}
    kbd {background-color:#882650;}
    .frame {border:4px solid #882650;}
    .navcol {color:black;background-color:rgb(121, 153, 121);}
    .link:hover {color:black;background-color:#882650;}
    .colo:hover {background-color:#222222;}
    .linktext {color:white;}
    .navimgb {display:inline-block;}
    .navimgw {display:none;}
    .imgw {display:inline-block;}
    .imgb {display:none;}
    .dloadpanel {background-color:#222222;border:2px solid #882650;}
    .navbar-toggler-icon {background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");}
}